body { 
	font-size : 12px;
	font-family : times,serif ;
	/*font-family : arial,helvetica,sans-serif*/
}

H1{ 	
	color : #4444AA;
	font-size : 22pt;
	font-family : arial,helvetica,sans-serif;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
	padding : 2px 2px 2px 2px;
}

H2{ 	
	border-bottom: thin solid black;
	color : #4444AA;
	font-size : 15pt;
	font-family : arial,helvetica,sans-serif 
}

H3{ 	
	color : #4444AA;
	font-size : 12pt;
	font-family : arial,helvetica,sans-serif 
}

A{
    COLOR: #3333AA;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

p {
	text-indent: 0px;
	margin-left: 16px;
	/*margin-top: -12px;*/
	/*text-indent: 16px;
	margin-left: 16px;*/
}

code {
	margin-left: 16px;
	background-color: #EEEEEE;
}

pre {
	border: dashed thin grey;
	background-color: #eeeeee;
	margin-left: 16px;
	/*border-width: 2px 2px 2px 2px;*/
	padding: 0.5em;
	-moz-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

